.with-navbar {
  margin-top: 70px;
}

.sala-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--bg-color);
}

.sala-layout-main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sala-content {
  flex: 1;
  overflow-y: auto;
}
